@using WebsiteThucPhamSach_VS2.Models;
@model role
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="box">
                <div class="box-title forgot-passwrod">THÊM NHÓM QUYỀN</div>
                @using (Html.BeginForm("CreatePartial", "Role", FormMethod.Post))
                {
                    @Html.ValidationSummary(false)
                    <div class="form-group">
                        <label for="role-name">Tên nhóm quyền*</label>
                        @Html.TextBoxFor(role => role.name, new { @class = "form-control input-share", @Placeholder = "Vui lòng nhập tên nhóm quyền" })
                        @Html.ValidationMessageFor(role => role.name, "", new { @class = "text-error" })
                    </div>
                    <div class="form-group">
                        <input type="submit" onclick="return roleValidate();" class="btn btn-primary submit-role" value="Thêm quyền" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
