@using WebsiteThucPhamSach_VS2.Models
@model List<order>

@{
    ViewBag.Title = "Quản lý thống kê";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="mt-3 ml-3">
    <p>
        <span>Tháng</span> @Html.DropDownList("IdMonth", (IEnumerable<SelectListItem>)ViewBag.ItemMonth, "------ Chọn tháng -------", new { @class = "idMonth  custom-frame" })
        Năm @Html.DropDownList("IdYear", (IEnumerable<SelectListItem>)ViewBag.ItemYear, "------ Chọn năm -------", new { @class = "idYear  custom-frame" })
    </p>
    <div> 
        <a class="exportCsv btn btn-success" href="/Dashboard/Statistical/ExportExcel">Xuất báo cáo hóa đơn</a>
    </div>
</div>

<div id="Statistical">

</div>


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            let today = new Date();
            //let month = today.getMonth() + 1;
            //let year = today.getFullYear();
            $('.idYear').prop('disabled', true);
            //let month = $('#IdMonth').val();
            //let year = $('#idYear').val();
            var month = today.getMonth() + 1;
            var year = today.getFullYear();
            $('#Statistical').load("/Dashboard/Statistical/ListStatisticalPartial", { month: month, year: year });
            console.log("vaoo " + month);
            console.log("vaoo " + year);
            $('#IdMonth').change(function () {
                month = $(this).val();
                if (month) {
                    $('.idYear').removeAttr('disabled');
                }
                if (month && year) {
                    $('#Statistical').load("/Dashboard/Statistical/ListStatisticalPartial", { month: month, year: year });
                }
            })
            $('#IdYear').change(function () {
                year = $(this).val();
                if (year) {
                    $('#Statistical').load("/Dashboard/Statistical/ListStatisticalPartial", { month: month, year: year });
                }
            })
        });

    </script>

}