
.scale-effect:hover{
    transform: scale(0.92);
    transition: ease-in 2s;
}

.wrapper-box-shadow {
    border: 1px solid rgb(239, 239, 239);
    transition: filter .6s, opacity .8s, transform .8s, box-shadow .3s;
    box-shadow: 0px 0px 5px rgb(239, 239, 239), 0px 0px 10px rgb(239, 239, 239), 0px 0px 25px rgb(239, 239, 239);
    border-radius: 8px;
    transform: scale3d(3);
    transition: ease .6s;
}

.slick-arrow {
    color: #9bd031;
    background-color: #9bd031;
    display: block !important;
}
    .slick-arrow:hover {
        color: #9bd031;
        background-color: #9bd031;
        display: block !important;
    }

.card-hover:hover {
    transition: filter .6s, opacity .8s, transform .8s, box-shadow .3s;
    box-shadow: 0px 0px 5px rgb(239, 239, 239), 0px 0px 10px rgb(239, 239, 239), 0px 0px 25px rgb(239, 239, 239);
    border-radius: 8px;
    transform: scale3d(3);
    transform: rotate(3deg);
    transition: ease .6s;
}

.img-custome{
    object-fit: cover;
}

.img-small{
    width: 45px;
    height:50px;
}

.text-date {
    font-size: 1.4rem;
    color: #3c3a3a;
}

.text-card-title{
    font-size: 1.3rem;
}
.btn-text{
    font-size: 1.6rem;
}
.text-black{
    color: black;
}
.text-opacity {
    color: black;
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
}
    .text-opacity:hover {
        color: black;
        text-decoration: none;
        opacity: 0.8;
    }

.text-error{
    font-size: 1.1rem;
    color: red;
    margin: 5px 0px;
}
.overflow-hidden {
    overflow: hidden;
}
.input-size {
    font-size: 1.4rem;
}
.input-height {
    height: 35px ;
}
.input-share {
    padding: 5px 15px !important;
    outline: none !important;
}
.featuredMoveTop {
    top: 71px !important;
}
.saleMoveTop {
    top: 33px !important;
}
.activeBlock.active{
    display: block !important;
}
span.new {
    position: absolute;
    z-index: 1 !important;
    top: 0px;
    left: 0;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0px 0px;
    background: #9bd031;
    color: #fff;
    font-family: 'Gotham', sans-serif;
    font-size: 13px;
    z-index: 0;
}
span.featured {
    position: absolute;
    z-index: 8;
    top: 0px;
    left: 0;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0px 0px;
    background: orange;
    color: #fff;
    font-family: 'Gotham', sans-serif;
    font-size: 13px;
    z-index: 0;
}
span.sale {
    position: absolute;
    z-index: 8;
    top: 0px;
    left: 0;
    display: inline-block;
    width: 115px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0px 0px;
    background: #d03931;
    color: #fff;
    font-family: 'Gotham', sans-serif;
    font-size: 13px;
    z-index: 0;
}

.img-md {
    display: none;
}
.custom-btn {
    width: 150px;
    height: 45px;
    text-align: center;
    border: none;
    font-size: 1.4rem;
}
.custom-btn:hover {
    opacity: 0.8;
}
.bg-green {
    background-color: #9bd031;
}

.img-responsive {
    width: 190px;
    height: 75px;
}
.title-share {
    text-align: center;
    text-transform: uppercase;
}
.showMenu {
    display: block !important;
}
.leaves{
    padding: 20px 0px;
}
.arrow-down {
    width: 0;
    display: inline-block;
    height: 0;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.nav-vertical__group {
    list-style-type: none;
    background-color: #9bd031;
    margin: 0px;
}

.nav-vertical__item--none {
    border: none !important;
}

.nav-vertical__group .nav-vertical__item {
    padding: 10px 30px;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .nav-vertical__group .nav-vertical__item .nav-vertical__link {
        color: white;
        font-size: .9rem;
    }

        .nav-vertical__group .nav-vertical__item .nav-vertical__link:hover {
            color: white;
            text-shadow: 0px 1px 15px white;
            text-decoration: underline;
        }

    .nav-vertical__group .nav-vertical__item .nav-vertical__icon {
        font-size: .6rem;
        color: white;
    }

.menu-child {
    list-style-type: none;
    background-color: #9bd031;
    margin: 0px;
}

.menu-child__item {
    padding: 10px 50px;
    width: 100%;
    border-bottom: 1px solid white;
}

.menu-child__link {
    color: white;
    font-size: .9rem;
}

    .menu-child__link:hover {
        color: white;
        text-shadow: 0px 1px 15px white;
        text-decoration: underline;
    }



/*breadcrumb*/
.breadcrumb-item{
    padding: 10px 0px;
    cursor: pointer;
}
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }
.breadcrumb-item .breadcrumb-link{
    color: black;
    text-decoration: none;
    opacity: 1;
    font-size: 1.6rem;
}

    .breadcrumb-item .breadcrumb-link:hover {
        color: #9bd031;
        text-decoration: none;
        opacity: 0.8;
    }

    .breadcrumb-item .breadcrumb-link.active {
        color: #9bd031;
        display: inline-block !important;
    }
