


.footer {
    grid-column: 1 / -1;
}

/*.footer__title {
    font-size: 1.1rem;
}*/

.footer__group {
    list-style-type: none;
}

    .footer__group .footer__item {
        padding: 10px 0px;
    }

        .footer__group .footer__item .footer__link {
            text-decoration: none;
            color: black;
        }

            .footer__group .footer__item .footer__link:active {
                color: red;
            }

            .footer__group .footer__item .footer__link:hover {
                text-decoration: none;
                color: #9bd031;
            }
