

.modal-body{
    padding: 20px 20px 40px 20px;
}
.model-content, .model-footer{
    padding: 0px 40px;
}

.modal-close {
    display: block;
    height: 40px;
}

.modal-close .close > span{
    font-size: 2.5rem;
}

.model-content .forgot-title{
    font-size: 2rem;
    padding: 0px 0px;
    font-weight: bold;
}

.model-content .forgot-content {
    font-size: 1.6rem;
    padding: 10px 0px;
}

.model-content .input-email {
    font-size: 1.2rem;
    padding: 0px 10px;
    height: 40px;
    margin-bottom: 5px;
}

.model-footer .btn-custom{
    width: 120px;
    height: 35px;
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
}