
*,
*::after,
*::before{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

input,
select,
textarea {
     max-width: none; 
}

/*p{
   margin: 0px;
}*/

.wrapper-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}