
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Over view</h2>




@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.home').addClass("active");
        })  
    </script>
}