

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img class="leaves" src="~/Img/leaves.png" alt="Leaves" />
        </div>
    </div>
</div>