@using WebsiteThucPhamSach_VS2.Models
@model about

@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="wrapper-breadcrumb">
                <ul class="nav d-flex flex-row border-bottom">
                    <li class="breadcrumb-item ">
                        <a href="~/Trang-Chu" class="breadcrumb-link">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="~/Gioi-Thieu" class="breadcrumb-link active">Giới thiệu</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            @Html.Raw(Model.content)
        </div>
    </div>
</div>

