
@using WebsiteThucPhamSach_VS2.Models
@using WebsiteThucPhamSach_VS2.Common
@model feedback

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12">
            <form id="form-add-feedback">
                <div class="row no-gutters pt-4 pb-4">
                    <div class="col-4">
                        1. Đánh giá của bạn về sản phẩm này:
                    </div>
                    <div class="col-8">
                        <div id="rating-star"></div>
                    </div>
                    <div class="col-12">
                        @Html.ValidationMessageFor(feedback => feedback.star, "", new { @class = "text-error validate-star" })
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12">
                        2. Tiêu đề của nhận xét:
                    </div>
                    <div class="col-12 mt-4">
                        <div class="form-group">
                            @Html.TextBoxFor(feedback => feedback.title, "", new { @class = "form-control input-size input-height input-share", @Placeholder = "Nhập tiêu đề nhận xét" })
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12">
                        3. Viết nhận xét của bạn bên dưới:
                    </div>
                    <div class="col-12 mt-4">
                        <div class="form-group">
                            @Html.TextAreaFor(feedback => feedback.comment, new { @class = "form-control input-size", @rows = "6", @Placeholder = "Nhập nội dung nhận xét" })
                            @Html.ValidationMessageFor(feedback => feedback.comment, "", new { @class = "text-error validate-comment" })
                        </div>
                    </div>
                </div>
                <div class="row no-gutters mt-3">
                    <div class="col-12">
                        <input id="add-feedback" onclick="return validateFeedback();" class="btn p-3 custom-btn btn-lg bg-green text-light" type="submit" value="Gửi nhận xét" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

