
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="containers">
                <div class="mySlides">
                    <img src="~/Img/buoi-da-xanh.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="~/Img/bap.jpg" style="width:100%">
                </div>

                <div class="row-gallery">
                    <div class="column">
                        <img class="demo cursor" src="~/Img/buoi-da-xanh.jpg" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/Img/bap.jpg" style="width:100%" onclick="currentSlide(2)" alt="Snowy Mountains">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            Right
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Sản Phẩm Thường Được Xem Cùng
        </div>
    </div>
</div>


