
@using WebsiteThucPhamSach_VS2.Models
@model List<product>

<div class="featured-products">
    <h2 class="title-share">Sản Phẩm Bán Chạy</h2>
    <div class="featured-products-content">
        <div class="featured-products-item">
            <img src="https://via.placeholder.com/250x250" />
            <div class="featured-products-item">
                Title
            </div>
            <div class="featured-products-item">
                <h1>Tên Sản Phẩm</h1>
                <h3>Giá tiền</h3>
            </div>
        </div>
        <div class="featured-products-item">
            <img src="https://via.placeholder.com/250x250" />
            <div class="featured-products-item">
                Title
            </div>
            <div class="featured-products-item">
                <h1>Tên Sản Phẩm</h1>
                <h3>Giá tiền</h3>
            </div>
        </div>
        <div class="featured-products-item">
            <img src="https://via.placeholder.com/250x250" />
            <div class="featured-products-item">
                Title
            </div>
            <div class="featured-products-item">
                <h1>Tên Sản Phẩm</h1>
                <h3>Giá tiền</h3>
            </div>
        </div>
        <div class="featured-products-item">
            <img src="https://via.placeholder.com/250x250" />
            <div class="featured-products-item">
                Title
            </div>
            <div class="featured-products-item">
                <h1>Tên Sản Phẩm</h1>
                <h3>Giá tiền</h3>
            </div>
        </div>
        <div class="featured-products-item">
            <img src="https://via.placeholder.com/250x250" />
            <div class="featured-products-item">
                Title
            </div>
            <div class="featured-products-item">
                <h1>Tên Sản Phẩm</h1>
                <h3>Giá tiền</h3>
            </div>
        </div>
        <div class="featured-products-item">
            <img src="https://via.placeholder.com/250x250" />
            <div class="featured-products-item">
                Title
            </div>
            <div class="featured-products-item">
                <h1>Tên Sản Phẩm</h1>
                <h3>Giá tiền</h3>
            </div>
        </div>
    </div>
</div>