@using WebsiteThucPhamSach_VS2.Models
@model List<product>

<div class="featured-products">
    <h2 class="title-share mt-1 mb-5 pb-4">Sản Phẩm Dành Riêng Cho Bạn</h2>
    <div class="featured-products-content">
        @foreach (var product in Model)
        {
            <div class="featured-products-item p-3">
                @{
                    product.image = product.image != " " ? product.image : "https://via.placeholder.com/250x250";
                }
                @if (product.price_promotion != null) {
                    <span class="sale saleMoveTop">Giảm giá
                        <span class="d-inline">
                            @product.price_promotion%
                        </span>
                    </span>
                    <span class="new">Mới</span>
                    <span class="featured featuredMoveTop">Bán chạy</span>
                }
                <img class="img-thumbnail" src="@Url.Content(product.image)" />
                <div class="featured-item-content pt-3 pb-3">
                    <a href="~/Chi-Tiet-San-Pham?id=@product.id" class="p-2">@product.name</a>
                    <p class="p-2 d-block">
                        <del>@product.price</del>
                        <span>
                            @{
                                var giamGia = product.price * ((100 - product.price_promotion) / 100);
                            }
                            @giamGia
                        </span>
                    </p>
                </div>
            </div>
        }
    </div>
</div>
