
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="wrapper-breadcrumb">
                <ul class="nav d-flex flex-row border-bottom">
                    <li class="breadcrumb-item">
                        <a href="~/Trang-Chu" class="breadcrumb-link">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="~/San-Pham" class="breadcrumb-link active">Sản phẩm</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h2>Products</h2>

