
@{
    ViewBag.Title = "Hủy đơn hàng thay đổi đơn hàng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-bold text-uppercase text-center">Hủy đơn hàng - thay đổi đơn hàng</h2>
        </div>
        <div class="col-12 mt-5">
            <div class="ml-4">
                <ol>
                    <li class="font-weight-bold">
                        <b>Hủy đơn hàng</b>
                        <div class="font-weight-normal">
                            <p class="mt-4">
                                Đối với Hà Nội và Tp. HCM phải hủy trước 8 giờ hành chính (từ 7h00 sáng đến 21h00).
                            </p>
                            <p>
                                Đơn hàng ở tỉnh phải hủy trước 12giờ hành chính (từ 7h00 sáng đến 21h00).
                            </p>
                            <p>
                                Các đơn hàng hủy sau thời gian này vẫn phải thanh toán 100% cho  cửa hàng.
                            </p>

                        </div>
                    </li>
                    <li class="font-weight-bold">
                        <b>Thay đổi đơn  hàng</b>
                        <div class="font-weight-normal">
                            <p class="mt-4">
                                Những sản phẩm thuộc danh mục ngành hàng đặc biệt sẽ có những điều kiện đổi trả riêng.
                            </p>
                            <p>
                                Lý do trả hàng phải hợp lệ và đáp ứng điều kiện chấp nhận đổi trả hàng.
                            </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

