


<div class="container">
    <div class="row">
        <div class="col-12 col-xl-3">
            <div class="footer__photo">
                <img class="img-responsive" src="~/Img/logo.png">
            </div>
            <p>Được thành lập vào ngày 05/03/2019 với niềm đam mê và khát vọng thành công trong lĩnh vực TMĐT</p>
            <p>107/A Đoàn Thị Liên, Phú Lợi, TP.Thủ Dầu Một</p>
            <p>nguyenchicuong31998@gmail.com</p>
            <p>0972612445</p>
        </div>
        <div class="col-12 col-xl-3">
            <h2 class="footer__title">DANH MỤC</h2>
            <ul class="footer__group">
                <li class="footer__item"><a href="#" class="footer__link">Trang chủ</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Sản phẩm</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Giới thiệu</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Tin tức</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Liên hệ</a></li>
            </ul>
        </div>
        <div class="col-12 col-xl-3">
            <h2 class="footer__title">CHÍNH SÁCH</h2>
            <ul class="footer__group">
                <li class="footer__item"><a href="#" class="footer__link">Hướng dẫn mua hàng</a></li>
            </ul>
        </div>
        <div class="col-12 col-xl-3">
            ok
        </div>
    </div>
</div>

@*<div class="footer__box">
    <div class="footer__photo">
        <img class="img-responsive" src="~/Img/logo.png">
    </div>
    <p>Được thành lập vào ngày 05/03/2019 với niềm đam mê và khát vọng thành công trong lĩnh vực TMĐT</p>
    <p>107/A Đoàn Thị Liên, Phú Lợi, TP.Thủ Dầu Một</p>
    <p>nguyenchicuong31998@gmail.com</p>
    <p>0972612445</p>
</div>
<div class="footer__box">
    <h2 class="footer__title">DANH MỤC</h2>
    <ul class="footer__group">
        <li class="footer__item"><a href="#" class="footer__link">Trang chủ</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Sản phẩm</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Giới thiệu</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Tin tức</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Liên hệ</a></li>
    </ul>
</div>
<div class="footer__box">
    <h2 class="footer__title">CHÍNH SÁCH</h2>
    <ul class="footer__group">
        <li class="footer__item"><a href="#" class="footer__link">Hướng dẫn mua hàng</a></li>
    </ul>
</div>
<div class="footer__box">
    <h5 class="footer__title">GỬI EMAIL</h5>
</div>*@