
@{
    ViewBag.Title = "Hướng dẫn đặt hàng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-uppercase text-center">Hướng dẫn đặt hàng</h2>
        </div>
        <div class="col-12 mt-5">
            <p>Quý khách có thể đặt hàng trực tuyến ở website thực phẩm sạch thông qua các bước đặt hàng cơ bản.</p>
            <p>Vui lòng tham khảo thông tin chi tiết về từng bước đặt hàng như sau:</p>
            <div class="ml-4">
                <ol>
                    <li class="font-weight-bold">
                        <b>Đăng nhập tài khoản tại website thực phẩm sạch:</b>
                        <div class="font-weight-normal">
                            <p class="mt-4">
                                Quý khách vui lòng đăng nhập bằng tài khoản đã có ở website thực phẩm sạch hoặc đăng nhập thông qua Facebook/ Google.
                                Trong trường hợp chưa đăng ký tài khoản, quý khách có thể chọn <a href="~/Dang-Ky">đăng ký</a> để tạo khoản tại website thực phẩm sạch.
                            </p>
                            <p>
                                Sau khi đã hoàn tất, quý khách có thể bấm vào nút “Đăng ký” để hoàn tất quá trình đăng ký.
                            </p>
                        </div>
                    </li>
                    <li class="font-weight-bold">
                        <b>Tìm kiếm sản phẩm</b>
                        <div class="font-weight-normal">
                            <p class="mt-4">
                                Quý khách có thể tìm sản phẩm theo 3 cách:
                            </p>
                            <ul style="margin-left:50px" class="mb-3">
                                <li>Gõ tên sản phẩm vào thanh tìm kiếm.</li>
                                <li>Tìm theo danh mục.</li>
                                <li>Tìm theo các sản phẩm mới nhất, bán chạy hoặc danh mục phổ biến trên từng ngành hàng.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="font-weight-bold">
                        <b>Thêm sản phẩm vào giỏ hàng</b>
                        <div class="font-weight-normal">
                            <p class="mt-4">
                                Khi đã tìm được sản phẩm mong muốn, quý khách vui lòng bấm vào hình hoặc tên sản phẩm để vào được trang thông tin chi tiết của sản phẩm, sau đó:
                            </p>
                            <ul style="margin-left:50px">
                                <li>Kiểm tra thông tin sản phẩm: giá, thông tin khuyến mãi.</li>
                                <li>Chọn số lượng mong muốn.</li>
                                <li>Thêm sản phẩm vào giỏ hàng.</li>
                            </ul>
                            <p class="mt-4">
                                Khi đã thao tác bỏ sản phẩm đầu tiên vào đơn hàng, quý khách vui lòng thực hiện các bước sau để thêm các sản phẩm khác vào giỏ hàng:
                            </p>
                            <ul style="margin-left:50px" class="mb-3">
                                <li>Chọn vào logo website thực phẩm sạch để trở về trang chủ hoặc gõ tìm kiếm sản phẩm trên thanh công cụ.</li>
                                <li>Thêm sản phẩm vào giỏ hàng bằng cách chọn số lượng và “Chọn thêm vào giỏ hàng”.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="font-weight-bold">
                        <b> Kiểm tra giỏ hàng và đặt hàng.</b>
                        <div class="font-weight-normal">
                            <p class="mt-4">
                                Quý khách có thể đặt các sản phẩm khác nhau trong 1 giỏ hàng thành 1 đơn hàng, các sản phẩm trong giỏ hàng sẽ được đóng thành 1 kiện hàng và giao đến địa chỉ quý khách đã đăng ký.
                            </p>
                            <ul style="margin-left:50px"  class="mb-3">
                                <li>Điều chỉnh số lượng và cập nhật giỏ hàng.</li>
                                <li>Bấm “Thanh toán” để bắt đầu đặt hàng.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="font-weight-bold">
                        <b>Điền địa chỉ giao hàng.</b>
                    </li>
                    <li class="font-weight-bold mt-2">
                        <b>Chọn phương thức thanh toán và hình thức giao hàng.</b>
                        <div class="font-weight-normal mt-4">
                            Nếu các thông tin trên đã chính xác, quý khách vui lòng bấm “Thanh toán”, hệ thống sẽ bắt đầu tiến hành tạo đơn hàng dựa trên các thông tin quý khách đã đăng ký.
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

